.container {
  width: 100%;
  max-width: 1750px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 157px;
  font-family: 'Rotonda', sans-serif;
  color: #5A5A5A;
  margin-bottom: 150px;
}


.center-info {
  text-align: center;
  margin-bottom: 61px;
  font-family: 'RotondaC', sans-serif;
}

.title {
  position: relative;
  display: inline-block;
  padding-top: 7px;
  color: #252525;
  font-weight: bold;
}


h2 {
  font-size: 42px;
  line-height: 1.2em;
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background: #b5d8f7;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 38px;
}

.nav-link {
  outline: none;
  border: 2px solid #dcdcdc;
  border-left: none;
  background-color: white;
  font-family: 'RotondaC', sans-serif;
  color: #5A5A5A;
  font-size: 15px;
  line-height: 1.3em;
  width: 11.1%;
  padding: 19px 0 21px;
}

.active {
  border-bottom: none;
  border-top: 5px solid #b5d8f7;
  font-family: 'RotondaC', sans-serif;
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -11px;
  margin-right: -5px;
}

.card {
  position: relative;
  cursor: pointer;
  height:100%;
  width: 24.8%;
  padding: 20px;
  transition: 0.35s;
  border-radius: 5px;
}
.new-product{
  height: 20px;
}
.product-img {
  position: relative;
  height: 240px;
  width: 100%;
}

.image {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

img {
  position: absolute;
  display: inline-block;
  max-width: 100%;
  max-height: 97%;
  align-self:center;
}

.card img:hover{
  transition: 0.5s;
  transition-duration: 1s;
  top: 8%;
  max-height: 100%;
}

.product-name {
  font-weight: 600;
  line-height: 1.5em;
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #252525;
  font-family: 'RotondaC', sans-serif;
  height: 8%;
}

.product-ingredients {
  width: 74%;
}

.product-info {
  margin: 13px 0 33px;
  display: flex;
  justify-content: space-between;
  height: 12%;
  line-height: 1.4em;
}

.product-info .product-weight {
  font-weight: 700;
  font-size: 16px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  color: #252525;
  font-weight: 400;
  font-size: 20px;
  width: 84px;
  font-family: 'RotondaC', sans-serif;
}

.product-price span {
  font-family: 'Rotonda', sans-serif;
}

.product-count {
  display: inline-flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  font-size: 16px;
  line-height: 16px;
  margin-right: auto;
  margin-left: auto;
}

.product-count button:first-child {
  font-size: 30px;
}

.product-count button {
  width: 27px;
  height: 36px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: 0.35s;
  font-size: 24px;
  line-height: 24px;
  color: #5a5a5a;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 2px;
  margin: 4px;
}

.product-count .increment {
  padding-top: 5px;
}

.product-count input {
  width: 30px;
  height: 44px;
  font-weight: 600;
  border: none;
  outline: none;
  text-align: center;
  font-family: 'RotondaC', sans-serif;
  font-size: 16px;
}

.btn-Order {
  border: 2px solid #b5d8f7;
  background: #b5d8f7;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: .35s;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-family: 'RotondaC', sans-serif;
  padding: 11px 9px;
  border-radius: 10px;
  color: #252525;
}

.product-name:hover {
  color: #b5d8f7;
}


.product-count button:hover {
  background-color: #b5d8f7;
}

.btn-Order:hover {
  background-color: white;
}

.border {
  box-sizing: border-box;
  position: relative;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    z-index: -1;
  }
}


.border {

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
    border-radius: .5em;
  }

  &:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition:
      width 0.1s ease-out,
      height 0.1s ease-out 0.1s;
  }

  &:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition:
      width 0.15s ease-out 0.15s,
      height 0.25s ease-out 0.25s;
  }
}
